{%load static%}
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="keywords" content="Musiron app">
        <meta name="description" content="Join Musiron app and start posting images">
        <meta name="author" content="Musironic Inc">
        <meta http-equiv="refresh" content="3600">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'post.css' %}">
        <link rel="stylesheet" href="{% static 'home.css' %}">
        <link rel="stylesheet" href="{% static 'profile.css' %}">
        <link rel="stylesheet" href="{% static 'simple-masonry.css'%}">
        <link rel="stylesheet" href="{% static 'login.css'%}">
        <link rel="stylesheet" href="{% static 'signup.css'%}">
        <link rel="stylesheet" href="{% static 'fileupload.css'%}">
        <link rel="stylesheet" href="{% static 'profileupdate.css'%}">
        <link rel="stylesheet" href="{% static 'addprofile.css'%}">
        <link rel="stylesheet" href="{% static 'moreaboutpost.css'%}">
        <link rel="stylesheet" href="{% static 'base.css'%}">
        <link rel="stylesheet" href=" /static/base.css">
        <link rel="stylesheet" href="{% static 'comment.css'%}">
        <script src="{% static 'simple-masonry.js'%}"></script>
    </head>
    <body>
        
        {% block content %}
            
        {% endblock content %}
            
    </body>
</html>