.commenting-cont {
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
}
.commenting-cont-cont {
    width: 50%;
    border-style: solid;
    border-width: 0.05;
    border-radius: 5px;
    background-color: rgb(15, 15, 95);
}
.commenting-cont-cont > div > h3 {
    width: 100%;
    text-align: center;
}
.commenting-cont-cont > div > img {
    width: 100%;
    border-radius: 2px;
}
.commenting-cont-cont > div > form {
    width: 100%;
}
.commenting-cont-cont > div > form > .bbutton {
    width: 100%;
    display: flex;
    justify-content: center;
}
.commenting-cont-cont > div > form > p > textarea {
    width: 100%;
    columns: 10;
    color: red;
}
.commenting-cont-cont > div > form > p >
.commenting-cont-cont > div > form > .bbutton > button{
    color: white;
    background-color: orange;
}
.commenting-cont-cont >  p {
    width: 100%;
    display: flex;
    justify-content: center;
}
.commenting-cont-cont > p > a {
    text-align: center;
    text-decoration: none;
    background-color: orange;
    width:50px;
    height: 20px;
    font-weight: bold;
    color: white;
}