/* profile bar*/
.topbar {
   height: 60px;
   width: 100%;
   background-color: bisque;
   position: fixed;
   top: 0; 
   left: 0;
   display: flex;
   flex-direction: row;
}
.topbar > .appname {
    font-size: 20px;
    font-weight: bolder;
    margin-top: 10px;
    margin-left: 10px;
    color: brown;
}
.topbar > .userauth {
    position: absolute;
    right:0;
    color: rgb(255, 0, 13);
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 20px;
    font-weight: bolder;
}
.logged {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-content: center;
}
.logged > li {
    margin-left: 5px;
}
.logged > li > a {
    text-decoration: none;
    color: green;
}
.prof-image{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-bottom: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(102, 255, 0);
}


.empty-cont {
    height: 70px;
}


/*grid layout and components*/
.home-grid-layout{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
}

.home-post-item-card {
    width: 200px;
    margin: 5px;
    border-style: solid;
    border-color: rgb(26, 5, 53);
    border-width: 0.05px;
    border-radius: 5px;
    background-color: rgb(14, 14, 70);
    color: white;
    
}


.home-post-item-card > img {
    width: 100%;
    height: 200px;
}
.home-post-item-card > p {
    width: 100%;
    text-align: center;
}
.home-post-item-card > p > span > img {
    height: 30px;
    width: 30px;
    border-radius: 100%;
}
.home-post-item-card > p > a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    background-color: orange;
    width: 90px;
    height: 30px;
    border-radius: 5px;
}